---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <ul class="post-list">
    <li>
      <span class="post-meta"></span>
      <h3>
        <a class="post-link" href="/my-site/books/academia/">
          Academia
        </a>
      </h3>
    </li>

    <li>
      <span class="post-meta"></span>
      <h3>
        <a class="post-link" href="/my-site/books/non-fiction/">
           Non-Fiction
        </a>
      </h3>
    </li>

    <li>
      <span class="post-meta"></span>
      <h3>
        <a class="post-link" href="/my-site/books/fiction/">
          Fiction
        </a>
      </h3>
    </li>

  </ul>

</article>

<!-- //TODO: maybe add everything on this page itself under headers as opposed to differnet pages (?) will have to remove academia, fiction, non-fiction entries from pages -->
