---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <p>
  <img src="cover.png" title="Cultural Festival, DHANAK 2019">
  </p>

  <p>
  {{ content }}
  </p>

  <h2>Updates</h2>

  {% assign i = 0 %}

  {% for entry in site.data.updates %}
  {% if i<5 %}
    <div class="updates_row">
     <div class="updates_date">{{ entry.date }}</div>
     <div class="updates_update">{{ entry.update }}</div>
    </div>
  {% endif %}
  {% assign i = i|plus:1 %}
  {% endfor %}

</div>
