---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}

  <h2 class=page-heading>Media</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.category == 'media' -%}
        <div style="display:inline-block;">
        <div><a href="{{ post.url | relative_url }}"><img src="{{ post.cover }}" width=220 height=330 alt="{{ post.title }}" hspace="10" vspace="10"></a></div>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </ul>

  <h2 class=page-heading>Music</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.category == 'music' -%}
        <div style="display:inline-block;">
        <div><a href="{{ post.url | relative_url }}"><img src="{{ post.cover }}" width=220 alt="{{ post.title }}" hspace="10" vspace="10"></a></div>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
