---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="media-post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

<!--
  <div style="display:inline-block;vertical-align:top;">
    <img src="{{ page.cover }}" width=300 alt="{{ page.title }}" hspace="20">
  </div>

  <div style="display:inline-block;">
    <div class="align">
      <div> <span style="font-weight:600;">Original Work</span>   - <span>{{ page.original-work }}   </span> </div>
      <div> <span style="font-weight:600;">Director</span> - <span>{{ page.director }} </span> </div>
      <div> <span style="font-weight:600;">Studio</span>   - <span>{{ page.studio }}   </span> </div>
      <div> <span style="font-weight:600;">Premiered</span>- <span>{{ page.premiered }}   </span> </div>
      <div> <span style="font-weight:600;">External Links</span> - <span><a href={{page.official-url}}>Official</a>, <a href={{page.anidb}}>MAL</a>, <a href={{page.mal}}>AniDB</a></span></div>
    </div>
  </div>

  <div class="media_row">

   <div class="media_cover"><img src="{{ page.cover }}" width=300 alt="{{ page.title }}" hspace="20"></div>

   <div class="media_field">
     <div> <span>Original Work</span></div>
     <div> <span>Director</span></div>
     <div> <span>Studio</span></div>
     <div> <span>Premiered</span></div>
     <div> <span>External Links</span></div>
   </div>

   <div class="media_value">
     <div> <span>{{ page.original-work }}   </span> </div>
     <div> <span>{{ page.director }} </span> </div>
     <div> <span>{{ page.studio }}   </span> </div>
     <div> <span>{{ page.premiered }}   </span> </div>
     <div> <span><a href={{page.official-url}}>Official</a>, <a href={{page.anidb}}>MAL</a>, <a href={{page.mal}}>AniDB</a></span></div>
   </div>

  </div>
-->

  <div style="display:inline-block;">
  <div class="media_cover"><img src="{{ page.cover }}" width=300 alt="{{ page.title }}" hspace="20"></div>
  </div><div style="display:inline-block;vertical-align: middle;">
    <div class="media_row">
        <div class="media_field">Original Work</div>
        <div class="media_value">{{ page.original-work }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Director</div>
        <div class="media_value">{{ page.director }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Studio</div>
        <div class="media_value">{{ page.studio }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Genre</div>
        <div class="media_value">{{ page.genre }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Premiered</div>
        <div class="media_value">{{ page.premiered }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">External Links</div>
        <div class="media_value"><a href={{page.official-url}}>Official</a>, <a href={{page.anidb}}>AniDB</a>, <a href={{page.mal}}>MAL</a></div>
    </div>

  </div>


  <div class="post-content e-content" itemprop="articleBody" style="margin-top:1cm;">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
