---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="media-post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

  <div style="display:inline-block;">
    <img src="{{ page.cover }}" width=300 alt="{{ page.title }}" hspace="20">
  </div><div style="display:inline-block;vertical-align: middle;">
    <div class="media_row">
        <div class="media_field">Artist</div>
        <div class="media_value">{{ page.artist }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Release</div>
        <div class="media_value">{{ page.release }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Genre</div>
        <div class="media_value">{{ page.genre }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">Length</div>
        <div class="media_value">{{ page.length }}</div>
    </div>

    <div class="media_row">
        <div class="media_field">External Links</div>
        <div class="media_value"><a href={{page.spotify}}>Spotify</a>, <a href={{page.wiki}}>Wiki</a></div>
    </div>
  </div>

  <div class="post-content e-content" itemprop="articleBody" style="margin-top:1cm;">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
