---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<!--
  <div class="row">
   <div class="left">28 April, 2022</div>
   <div class="right">Joined [DiEM25](https://diem25.org/en/). Read the manifesto [here](https://diem25.org/about-us/).</div>
  </div>


//TODO: add a database like functionality for updates - date and update tables, and pull data from there using a loop to display here.
  -->

  <p>
  {{ content }}
  </p>


</div>
